# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven
name: Java CI with Maven
on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11.0.7
        server-id: github # Value of the distributionManagement/repository/id field of the pom.xml
        settings-path: ${{ github.workspace }} # location for the settings.xml file: :  
    - name: 'Create settings.xml'
      uses: whelk-io/maven-settings-xml-action@v4
      with:
        servers: '[{"id": "github", "username": "${{ github.actor }}", "password": "${{ github.token}}"}, {"id": "github-annotation", "username": "${{ github.actor }}", "password": "${{ github.token }}"}]'
        repositories: '[{"id" : "github", "url" : "https://maven.pkg.github.com/Ubique-OSS/springboot-swagger3"}, {"id" : "github-annotation", "url" : "https://maven.pkg.github.com/Ubique-OSS/springboot-swagger3-annotations"}]'
    - name: Build with Maven
      run: mvn clean install --file dpppt-config-backend/pom.xml
      env:
        GITHUB_TOKEN: ${{ github.token }}
    - name: Echo current ref
      run: echo "${{ github.ref }}"
    - name: shasum
      run: shasum -a 256 dpppt-config-backend/target/dpppt-config-backend.jar > dpppt-config-backend/target/dpppt-config-backend.jar.sha256
      shell: bash
    - name: Create Snapshot Release
      uses: ncipollo/release-action@v1
      if: github.ref == 'refs/heads/develop'
      id: create_release
      with:
        name: Snapshot Release ${{ github.ref }}
        tag: SNAPSHOT
        artifacts: "dpppt-config-backend/target/dpppt-config-backend.jar,dpppt-config-backend/target/dpppt-config-backend.jar.sha256"
        body: |
            Changes in this Release
            - Snapshot release
        token: ${{ secrets.GITHUB_TOKEN }}
        draft: false
        prerelease: false
        allowUpdates: true
